services:
  # The Main API
  - type: web
    name: shipdocket-api
    runtime: docker
    repo: https://github.com/vins-anity/shipdocket
    rootDir: .
    dockerfilePath: ./apps/api/Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_ANON_KEY
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: OPENROUTER_API_KEY
        sync: false
      - key: SLACK_CLIENT_ID
        sync: false
      - key: CRON_TOKEN
        sync: false
    dockerCommand: bun run apps/api/src/index.ts
    plan: free
    region: singapore




